.contactList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 400px;
}

.contactItem {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contactBtn {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
